 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Nama</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="ex: Raihan">
        </div>
        <div class="form-group">
            <label for="Posisi" class="text-light">Posisi</label>
            <input type="text" name="posisi" value="" placeholder="ex: Direktur">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-light update">Simpan Data</button>
        </div>

    </div>
</form>